.titulo{
    text-align: center;
    font-size: x-large;
    color: rgb(255, 255, 255);
}
body{
    background:radial-gradient(circle, rgb(30, 44, 73) 0%, rgba(63,106,158,1) 66%);;
    font-family: "Poppins", sans-serif;
}
.texto{
    color: rgb(255, 255, 255);
    height: 200px;
    width: 600px;
    text-align: center;
    margin-top: 100px;
    margin-left: 100px;
    margin-bottom: 0;
 
}
.imagen{
    height: 350px;
    width: 350px;
    overflow: hidden;
    aspect-ratio: 1;
    border-radius: 50%;
}
.presentacion{
    display: flex;
    flex-direction: row;
    gap: 100px;
}
.boton{
    margin-left: 330px;
    border-radius: 25px; 
    width: 100px; 
    height: 50px;
    background-color: rgb(255, 255, 0);
}
.fondo{
    background: radial-gradient(circle, rgba(76,86,110,1) 0%, rgba(28,51,79,1) 66%);
    width: 450px;
    height: 450px;
    border-radius: 3%;
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0;
}
.imagen2{
    width: 400px;
    height: 280px;
    padding: 20px;
    border-radius: 10%;
   
}
.epigrafe{
    color: yellow;
    text-align: center;
    font-family: "Boldonse", system-ui;
}
.boton2{
    
    border-radius: 25px; 
    width: 100px; 
    height: 50px;
    background-color: rgb(255, 255, 0);
}