html{
    scroll-behavior: smooth;
}

.titulo{
    text-align: center;
    font-size: xx-large;
    color: rgb(255, 255, 255);
}
body{
    background: radial-gradient(circle, rgba(124,148,191,1) 0%, rgba(32,50,87,1) 100%);
    font-family: "Poppins", sans-serif;
}
.texto{
    color: rgb(255, 255, 255);
    height: 200px;
    width: 600px;
    text-align: center;
    margin-top: 100px;
    margin-left: 100px;
    margin-bottom: 0;
    font-size: large;
 
}
.imagen{
    height: 350px;
    width: 350px;
    overflow: hidden;
    aspect-ratio: 1;
    border-radius: 50%;
}
.presentacion{
    display: flex;
    flex-direction: row;
    gap: 100px;
}
.boton{
    margin-left: 330px;
    border-radius: 25px; 
    width: 100px; 
    height: 50px;
    background-color: rgb(255, 255, 0);
    font-family: "Poppins", sans-serif;
}
.fondo{
    background: radial-gradient(circle, rgba(127,133,159,1) 0%, rgba(32,50,87,1) 100%);
    width: 450px;
    border-radius: 3%;  
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0;
}
.imagen2{
    width: 400px;
    height: 280px;
    padding: 10px;
    border-radius: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.epigrafe{
 
    color: yellow;
    text-align: center;
    font-family: "Boldonse", system-ui;
    margin: 0;
}
.boton2{
    border-radius: 25px; 
    width: 100px; 
    height: 40px;
    background-color: rgb(255, 255, 0);
    padding: 2px;
    

   
}

.boton2:hover{
    
    background-color: rgb(219, 205, 5);
    transform: scale(0.90);
}
.contenedor{
    display: flex; 
    justify-content: center;
    flex-wrap: wrap;   
    gap: 2em;

}



img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}